* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    height: 230px;
    width: 200px;
    padding: 16px;
    border-radius: 10px;
}

.inner-div {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.done {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #ebeaea;
    border: 2px solid #505050;
    color: #8c8c8c;
}

.notDone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: lavenderblush;
    border: 2px solid maroon;
}